.nav {
    background-color: orange;
    ul {
        li {
            &:hover {
                background-color: salmon;
                a {
                    color: #fff;
                }
            }
        }
    }
}